@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "맑은 고딕";
    color: #222328;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    width: 1000px;
    display: inline-block;
}
#header{
    width: 250px;
    height: 650px;
    float: left;
    background-color: #ffeeee;
}
.logo{
    padding: 30px 15px;
}
.logo a img{
    margin: 5px;
    padding: 5px;
}

.mainmenu{
    width: 200px;
    margin: 0px 25px;
}
.mainmenu>li{
    background-color: #ff7373;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    position: relative;
    cursor: pointer;
}
.mainmenu>li:hover{
    background-color: #E50000;
    color: #ffffff;
}
.submenu{
    display: none;
    background-color: #ffcccc;
    position: absolute;
    width: 200px;
    height: 95px;
    left: 200px;
    top: 0;
    z-index: 1;
    padding-bottom: 30px;
    float: right;
}
.submenu>li{
    padding: 5px 0px;
    width: 100%;
}
.submenu>li:hover{
    background-color: #ff9999;
    color: inherit;
}



.wrap{
    width: 750px;
    float: right;
}
#imgslide{
    height: 350px;
    overflow: hidden;
}
.slide{
    width: 2250px;
}
.slide>li{
    float: left;
}
.slide>li>a>img{
    width: 750px;
    height: 350px;
}



#contents{
    height: 200px;
}
#contents h3{
    width: 100px;
    text-align: center;
    border-top: 1px solid #E50000;
    border-left: 1px solid #E50000;
    border-right: 1px solid #E50000;
    margin-left: 10px;
    margin-top: 5px;
    color: #ff9999;
}
#contents hr{
    border: 0.5px solid #E50000;
}
#notice{
    width: 250px;
    display: inline-block;
}
#notice table{
    width: 100%;
    margin-top: 9px;
    border-collapse: collapse;
    text-align: center;
}
#notice table td{
    font-size: 0.7em;
    padding: 5px 0px;
}
#notice table tr{
    height: 24px;
}
#notice table tr:nth-child(2n){
    background-color: #ffcccc;
}
.item{
    width: 80%;
    float: left;
    line-height: 30px;
}
.date{
    width: 20%;
    float: right;
}
#gallery{
    width: 240px;
    display: inline-block;
}
#galleryimg{
    width: 100%;
    position: relative;
}
.galleryimgarea{
    margin-top: 10px;
    width: 80px;
    height: 140px;
    overflow: hidden;
    float: left;
}
.galleryimgarea>a>img{
    width: 80px;
    height: 140px;
    display: block;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
.galleryimgarea a img:hover{
    opacity: 0.5;
}
#banner{
    width: 250px;
    display: inline-block;
    float: right;
}
#banner>a>img{
    width: 100%;
    display: block;
    margin-top: 10px;
}
#footer{
    background-color: #E50000;
    height: 100px;
}
#footer .logoG{
    padding: 28px 0px 28px 25px;
}
.footertext{
    float: right;
    width: 66%;
    margin-top: -70px;
}
.footermenu{
    float: left;
    width: 450px;
}
.footermenu>li{
    width: 150px;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}
.footertext>p{
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}



#modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}
#modalcontent{
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    text-align: center;
    margin-top: 60px;
    margin-left: 350px;
}
#modalcontent h2{
    padding: 20px 0px;
}
#modalcontent p{
    padding: 0px 10px 10px 10px;
}
#modalcontent button{
    margin-top: 5px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #E50000;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}
#modalcontent button:hover{
    background-color: #ff9999;
    color: #000000;
}